name: Release-Docker

on:
  release:
    types: [published]     

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Set build time
        run: |
          echo "BUILD_TIME=$(date +%FT%T%z)" >> $GITHUB_ENV          
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/arm64,linux/amd64
          push: true
          file: ./scripts/Dockerfile
          tags: gosonic/sonic:latest,gosonic/sonic:${{github.ref_name}}
          build-args: |
            SONIC_VERSION=${{github.ref_name}}
            BUILD_COMMIT=${{github.sha}}
            BUILD_TIME=${{env.BUILD_TIME}}